@mixin telefono {
    @media screen and (max-width: #{$telefono}) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: #{$tablet}) {
        @content;
    }
}
  
@mixin desktop {
    @media screen and (max-width: #{$desktop}) {
        @content;
    }
}
@mixin cajas{
    box-shadow: 1px  2px 2px rgba($black, .3);
    margin-left: 1em;
    margin-bottom: 1em; 
    width: 18.6%;
    padding: 10px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    &:hover{
        transform: translateY(-2px);
    box-shadow: 0 3px 4px rgba(0, 0, 0, .1);
    }
}

